:root {
    --primary: rgba(99, 16, 16, 1);
    --secondary: rgba(191, 174, 159, 1);
    --grass: rgba(73, 89, 37, 1);
    --background: rgba(217, 217, 217, 1);
    --success: rgba(4, 218, 0, 1);
    --error: rgb(255, 0, 0);
    --white: white;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
    color: var(--primary);
    padding: 0;
    margin: 0;
    height: 2000px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 16rem 0px 16rem;
}

header {
    position: relative;
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    white-space: nowrap;
    gap: 2rem; 
}

.logo {
    margin-right: 32px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.btnheader {
    all: unset;

    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1.30rem;
    margin: 0px 1rem 0px 1rem;
    padding: 5px 10px 5px 10px;

}

.btnheader:hover,
.btnheader:focus 
{
    /* border: 1px solid; */
    transform: translateY(-1px);
    box-shadow: 1px 3px 20px -9px var(--primary);
}

/* ================ SEARCH ================ */

.search {
    position: relative;
    margin-left: auto; 
    cursor: pointer;
}

.search:hover i:nth-child(1) {
    left: -4px;
}

.search i:nth-child(1) {
transition: all 0.3s ease;
position: absolute;
right: initial;
left: 2px;
top: 0px;
padding: 8px;
border-radius: 18px 0px 0px 18px ;
background-color: var(--white);
}

.search i:nth-child(3) {
    transition: all 0.3s ease;
    position: absolute;
    right: 4px;
    top: 8px;
    opacity: 0;
}

.search:focus-within i:nth-child(3) {
    opacity: 1;
    right: 10px;
}

.search:focus-within i:nth-child(1) {
    left: -20px;
}

.searchInp {
    all: unset;

    caret-color: var(--primary);
    background-color: var(--white);
    width: 200px;
    height: 32px;
    padding: 0px 16px 0px 16px;
    border-radius: 18px;
}

.search:focus-within .searchInp {
    padding-right: 25px;
    cursor: text;
}

/* ================ /SEARCH ================ */

.avatar img {
    width: 45px;
    object-fit: cover;
    border-radius: 30px;
}

.avatar img:hover {
    color: var(--primary);
}

.home-container {
    margin-top: 40px;
}

.home-banner {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.divider {
    position: absolute;
}

.offer-right {
    margin-top: 140px;
    margin-right: 15px;
}

/* ================================= */

.offer-left {
    position: relative;
    margin-top: 20px;
}

.roofOne {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: -80px;
}

.roofOne .title {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roofOne .title p:nth-child(1) {
    font-size: 64px;
    font-weight: 550;
    margin-top: 20px;
    margin-left: 25px;
}

.roofOne .title p:nth-child(1) span {
    font-size: 20px;
}

/* ================================= */

.roofTwo {
    position: relative;
    top: 0;
    margin-top: 10px;
    margin-right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.roofTwo .roof-content .title {
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
}

.roofTwo .roof-content {
    position: absolute;
    top: -5px;
}

.roofTwo .roof-content .content {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    height: 100px; 
    gap: 6px; 
    align-content: flex-start; 
}

.btnRoofTwo {
    all: unset;

    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 4px 10px 4px 10px;
}

.btnRoofTwo.second {
    margin-left: 30px;
}

.btnRoofTwo:hover,
.btnRoofTwo:focus 
{
    /* border: 1px solid; */
    transform: translateY(-1px);
    box-shadow: 1px 3px 20px -9px var(--primary);
}
